.item-btnModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnFormModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 4px;
  padding: 10;
  max-width: unset;
}
.ant-tabs-nav-wrap {
  justify-content: center;
}
.ant-tabs-tab-btn {
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.1;
}
.ant-tabs-tab {
  margin-left: 0 20px;
}
.ant-modal-body {
  padding: 0 75px;
  padding-top: 0;
  padding-bottom: 30px;
}
.input {
  border-radius: 2px;
  font-size: 14px;
  line-height: 22px;
  height: 42px;
}

.TitleLogin {
  line-height: 22px;
  font-size: 22px !important;
  display: flex;
  justify-content: center;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
  display: none;
}

.ant-form-item-explain {
  margin: 5px 0;
}

.signin-with {
  font-family: "Lato", Arial, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

.btn-signin {
  height: 46px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  width: 100%;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-signin .anticon {
  font-size: 22px;
}
.space-btn {
  width: 100%;
  display: flex;
}
.space-btn .ant-space-item {
  flex-basis: 50%;
}
.fbicon {
  font-size: 22px;
  margin-right: 4px;
}

.ant-col-18 {
  max-width: 100%;
}

.ant-modal {
  border-radius: 4px;
  top: 20px !important;
}
.ant-modal-body {
  border-radius: 4px;
}
.ant-modal-content {
  border-radius: 4px;
}
