.site-card-border-less-wrapper {
  padding-top: 50px;
  display: flex;
}
.content-detail {
  background-color: rgb(233, 231, 231);
  font-size: 20px;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ant-card-cover {
  height: 100%;
}
.ant-card-cover,
.ant-image,
.ant-image-img {
  height: 100%;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 4px;

  width: 100%;
  max-width: 250px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  padding-top: 40px;
  padding-bottom: 10px;
}
.site-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.detail_title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #404040;
  font-weight: bold;
}
.card-image {
  flex: 1;
}
.content-detail {
  width: 50%;
}
