.ant-card {
  box-shadow: 0px 4px 8px #f3f3f3;
}
.ant-card-body {
  padding: 10px 0;
}
.ant-image-mask {
  object-fit: cover;
}
.ant-card-meta-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.BTN {
  height: 40px;
  font-size: 18px;
  line-height: 22px;
}

.site-card-wrapper {
  margin-bottom: 3rem;
}
