.root-dashboard{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.db-row{
    justify-content: space-between;
}
.heading{
    font-size: 28px;
    line-height: 32px;
    color:#000;
    font-weight: bold;
}
.report{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.report-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 300px;
    height:200px;
    border-radius: 8px;
    border: 1px solid rgb(255, 102, 80);
    background: #ffff;
    align-items: center;
    justify-content: center;
    
}

.report-card .ant-typography{
    font-size: 24px;
    line-height: 32px;
    color:#000;
}
.title-dashboard{
    font-size: 24px;
    line-height: 32px;
    color:#000;
    font-weight: bold;
}
.view{
    display: flex;
    flex-direction: column;
    gap:16px;
    cursor: pointer;
}

.load-more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#1A0EAB;
}