.form-checkout {
  width: 100%;
  padding: 20px;
}
.checkout {
  margin-top: 50px;

  display: flex;
}
.left {
  border-left: 1px solid #e6e6e6;
}
.card-checkout {
  padding: 20px;
  border: 1px solid #e6e6e6;
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.title-checkout {
  font-size: 18px !important;
  font-weight: 400;
  list-style: 24px !important;
  margin: 0 !important;
}
.text-checkout {
  font-size: 16px !important;
  list-style: 20px !important;
}
.top {
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.space-container {
  padding: 16px 0;
  display: flex;
  margin-bottom: 25px;

  flex-direction: column;
  align-items: unset;
  border-bottom: 1px solid #e6e6e6;
}
.space-total {
  margin-bottom: 25px;
}
.space .ant-space-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
